#adv-upcoming {
    background-color: white;
    color: black;
    font-weight: normal;
}

#main-content {
    color: black;
}

.table-row {
    /*display: table-row;*/
    padding: 0;
    width: 100%;
}

.acc-row > div,
.acc-inner-row > div {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.acc-inner-row > div {
    padding: 8px 0;
}

.dis-table {
    display: table;
    padding: 8px 15px;
    width: 100%;
}

a.acc-row:hover {
    text-decoration: none !important;
}

#adv-upcoming tbody tr:hover {
    background-color: #C8E5FF;
    cursor: pointer;
}

#adv-upcoming tbody tr:active {
    background-color: #7CC1FF;
}

.apt-selected {
    background-color: #7CC1FF !important;
}

#form-sesh > * {
    display: inline-block;
    vertical-align: top;
}

#netid {
    /*width: 50%;*/
}

#menu-depts {
    margin-top: -295px;
}

#menu-car {
    margin-top: -260px;
}

#menu-acad {
    margin-top: -330px;
}