.login_container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -115px;
  margin-left: -112px;
}
.header-texture {
position: relative;
color: white;
text-align: center;
background-image: url(../img/top_grad.png);
background-size: 100% 100%;
	/*box-shadow: 0px 2px 4px #7C7C7C;*/
}
.body-texture {
  position: relative;
  color: white;
  text-align: center;
}
.footer-texture {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background-image: url(../img/top_grad.png);  
  background-size: 100% 100%;
  box-shadow: 0px -2px 4px #7C7C7C;
}
#header .btn{
	background:url(../img/top_button.png);
	font-family:Lucida Sans Unicode;
	font-size:250%;
	color: white;
  padding: 33px 0px;
  width: 225px;
}
#header .btn:active{
	background:url(../img/top_button_active.png);
}
.login-style{
	background:url(../img/login_button.png);
	font-size:larger;
	margin:20px;
	color:white;
	width:181px;
	height:46px;
}
.login-style:hover{
	background:url(../img/login_button.png);
	color:white;
}
.login-style:active{
	background:url(../img/login_button_active.png);
	color:white;
}

#subnav a{
  text-decoration: none;
  color: #000;
}
.accordion-heading{
	background-color: #EDE4D8;
	box-shadow: 0px 4px 4px #7C7C7C;
}
