.login_container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -115px;
  margin-left: -112px;
}
.header-texture {
position: relative;
color: white;
text-align: center;
background-image: url(../img/top_grad.png);
background-size: 100% 100%;
}
.body-texture {
  position: relative;
  color: white;
  text-align: center;
}
.footer-texture {
  position: relative;
  color: white;
  text-align: center;
  background-image: url(../img/top_grad.png);  
  background-size: 100% 100%;
}
#header .btn{
  padding: 33px 12px;
  width: 228px;
}