
    <div class="row">
        <div class="span6 offset3">
            <h4>Upcoming appointments:</h4>
            <table id="adv-upcoming" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var abb in apts) {
                        var apt = apts[abb] %>
                    <tr id="<%= apt.netid %>" class="apt-row">
                        <td><%= apt.time %></td>
                        <td><%= apt.lname %>, <%= apt.fname %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <form id="form-sesh">
              <input id="netid" type="text" placeholder="Student NetID">
              <button id="start-sesh" class="btn btn-primary">Start Session</button>
        </form>
      </div>
    </div>