<div class="row">
  <div class="span12">
    <div id="resourceList">
        <p>Your query, "<%= query %>", returned no results. Please try a new search.</p>
    </div>
  </div>
</div>
<div class="row">
    <div class="span12">
      <form class="form-search">
        <div class="input-append">
          <input type="text" class="span6 search-query" placeholder="Search for resources...">
          <button type="submit" class="btn"><i class="icon-search"></i> <span class="visible-desktop">Search</span></button>
        </div>
      </form>
    </div>
  </div>