<div class="container">
  <div class="row">
    <div class="span12">
      <a href="#advisors/resources/manage">Manage Resources</a>
      <form class="form-search">
        <div class="input-append">
          <label>Search for Resources:</label><br />
          <input type="text" class="span6 search-query">
          <button type="submit" class="btn"><i class="icon-search"></i> <span class="visible-desktop">Search</span></button>
        </div>
      </form>
    </div>
  </div>
</div>