<div class="container">
  <div class="row">
    <div class="span12">
        <h1>Advisors: Students</h1>
        <a href="#advisors/students/past">Past Sessions</a> | <a href="#advisors/students/future">Future Sessions</a>
    </div>
  </div>
    <div class="row">
        <div class="span6 offset3">
            <h4>Upcoming appointments:</h4>
            <table id="adv-upcoming" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3:00p</td>
                        <td>Doe, John Blank</td>
                    </tr>
                    <tr>
                        <td>3:30p</td>
                        <td>Robins, Hank Blank</td>
                    </tr>
                    <tr>
                        <td>4:30p</td>
                        <td>Jones, James</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span4 offset4">
        <form>
            <fieldset>
              <input type="text" placeholder="Student NetID"><br />
              <button type="submit" class="btn-large"><span class="">Start Session</span></button>
            </fieldset>
        </form>
      </div>
    </div>
</div>