<div class="container">
  <div class="row">
    <div class="span12">
        <h1>Manage Resources</h1>
        <a href="#advisors/resources/editdoc">Add Document</a> | <a href="#advisors/resources/editweb">Add Website</a> 
    </div>
  </div>
</div>