

<div class="container">
  <div class="row">
    <div class="span12">
      <div id="content" class="container">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <form class="form-search">
        <div class="input-append">
          <input type="text" class="span6 search-query" placeholder="Search for resources...">
          <button type="submit" class="btn"><i class="icon-search"></i> <span class="visible-desktop">Search</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
