<div class="container">
  <div class="row">
    <div class="span12">
      <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Mike Jones
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Document</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Resume Creation 101</td>
                  <td><i class="icon-file"></td>
                </tr>
                <tr>
                  <td>Technical Interview Tips</td>
                  <td><i class="icon-globe"></i></td>
                </tr>
                <tr>
                  <td>Diamond Decision Making Model</td>
                  <td><i class="icon-file"></i></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Hillary Espino
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Document</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Resume Creation 101</td>
                  <td><i class="icon-file"></td>
                </tr>
                <tr>
                  <td>Technical Interview Tips</td>
                  <td><i class="icon-globe"></i></td>
                </tr>
                <tr>
                  <td>Diamond Decision Making Model</td>
                  <td><i class="icon-file"></i></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>


Fade grid lines
get rid of "options" button