<div class="container">
  <div class="row">
    <div class="span12">
      <div class="accordion" id="accordion2">
  <br>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Mike Jones
      </a>
    </div>
	
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Resource</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href= "https://ucs.byu.edu/sites/ucs.byu.edu/files/handouts/Resumes101.pdf">Resume Creation 101</a></td>
                  <td><i class="icon-file"></td>
                </tr>
                <tr>
                  <td><a href="https://ucs.byu.edu/students/development/explore">Career Exploration</a></td>
                  <td><i class="icon-globe"></i></td>
                </tr>
                <tr>
                  <td><a href="http://www.bls.gov/ooh/">Occupational Outlook Handbook</a></td>
                  <td><i class="icon-globe"></i></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Hillary Espino
      </a>
    </div>
	
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Resource</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href= "https://ucs.byu.edu/sites/ucs.byu.edu/files/handouts/Resumes101.pdf">Resumes 101</a></td>
                  <td><i class="icon-file"></td>
                </tr>
                <tr>
                  <td><a href= "https://ucs.byu.edu/sites/ucs.byu.edu/files/readings/Greed-JJChristensen.pdf">What to do with your Money</a></td>
                  <td><i class="icon-file"></i></td>
                </tr>
                <tr>
                  <td><a href="https://ucs.byu.edu/students/networking">Networking</a></td>
                  <td><i class="icon-globe"></i></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Sue Sanders
      </a>
    </div>
	
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Resource</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="http://saas.byu.edu/advisement/pdf/12/484620.pdf">BA in MUSIC MAP</a></td>
                  <td><i class="icon-file"></td>
                </tr>
                <tr>
                  <td><a href= "http://arts.byu.edu/">Lack of Technical Skills Interview Tips</a></td>
                  <td><i class="icon-globe"></i></td>
                </tr>
                <tr>
                  <td><a href= "https://ucs.byu.edu/sites/ucs.byu.edu/files/handouts/Senior-Survey-Humanities.pdf">How to Make Money with a less then useful Major</a></td>
                  <td><i class="icon-file"></i></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  
  
  
  
</div>
    </div>
  </div>
</div>
