<div id="future-sessions" class="container">
    <div class="row">
        <div class="span8 offset2">
            <h1>Future Sessions</h1>
            <div id="acc-content">
                
            </div>
        </div>
    </div>
</div>

<script>
    new EJS({url: './pages/advisors/students/table_future.ejs'}).update('acc-content', './pages/advisors/students/sessions.json');
</script>