<div id="the-sessions" class="container">
    <div class="row">
        <div class="span12">
            <h3>Past Sessions</h3>
            <div id="acc-content">
                
            </div>
			
			<div class="row-fluid">
				<div class="span6 offset3">
					<form id="form-sesh">
						<input id="netid" type="text" placeholder="Student NetID">
						<button id="start-sesh" class="btn btn-primary start-sesh">Start Session</button>
					</form>
				</div>
			</div>
			
        </div>
    </div>
</div>

<script>
    new EJS({url: './pages/advisors/students/table_past.ejs'}).update('acc-content', './pages/advisors/students/psessions.json');
</script>