<div class="container">
  <div class="row">
    <div class="span12">
        <h1>Past Sessions</h1>

<div class="accordion" id="accordion2">
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        La'Quesha Bonfayfay
      </a>
    </div>
	
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Email:</th>
                  <th>Session:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>la@hotmail.com</td>
                  <td>Start Session</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Luke Skywalker
      </a>
    </div>
	
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Email:</th>
                  <th>Session:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>VaderNation@hotmail.com</td>
                  <td>Start Session</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Timmy McGee
      </a>
    </div>
	
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table">
              <thead>
                <tr>
                  <th>Email:</th>
                  <th>Session:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>timster@hotmail.com</td>
                  <td>Start Session</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>




    </div>
  </div>
</div>