<div class="container" style="text-align: left;">
<!--    <div class="row">
        <div class="span12">
            <h1>Add/Edit Document</h1>
        </div>
    </div>-->
<!--    <div class="row">
        <div class="span10">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="doc-name">Name: </label>
                    <div class="controls">
                        <input id="doc-name" type="text" maxlength="30" placeholder="Document name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="doc-desc">Description: </label>
                    <div class="controls">
                        <input id="doc-desc" class="span6" type="text" maxlength="65" placeholder="Short description of document (65 characters)">
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <div class="row">
        <div class="span10 offset1">
            <form>
                <fieldset>
                    <label>Name:</label>
                    <input id="doc-name" type="text" maxlength="30" placeholder="Document name">
                    <label>Description:</label>
                    <input id="doc-desc" class="span6" type="text" maxlength="65" placeholder="Short description of document (65 characters)">
                    <div id="doc-upload" class="span5">
                        <label class="span1">Document:</label>
                        <button class="btn span2 offset1">Upload new</button>
                    </div>
                    <label>Details:</label>
                    <textarea class="span10" rows="10"></textarea>
                </fieldset>
            </form>
            <div class="span10">
                <button id="doc-cancel" class="btn span3">Cancel</button>
                <button id="doc-save" class="btn btn-primary span3 offset3">Save</button>
            </div>
        </div>
    </div>
</div>