<div id="content" class="container">

</div>
<script>

    new EJS({url: './pages/advisors/default.ejs'}).update('content', './pages/advisors/apts.json');
    
//    $('#content').html(html);
</script>