<div class="container">
  <div class="row-fluid">
    <div class="span4 offset4">
      <form>
          <fieldset>
            <input type="text" placeholder="Student NetID"><br />
            <button type="submit" class="btn-large"><span class="">Start Session</span></button>
          </fieldset>
      </form>
    </div>
  </div>
</div>